<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Weather Conch</title>
	</head>
	<% if (locals.apiKey === null) { %>
	<body>
		<h1>Welcome to Weather Conch</h1>
		<h2>A simple way to check the weather</h2>
		<form action="/" method="POST">
			<label for="city">Enter a city:</label>
			<input type="text" name="city" required placeholder="ie. New York" />
			<br />
			<fieldset>
				<legend>Units</legend>
				<input type="radio" name="units" value="metric" checked /> Metric
				<input type="radio" name="units" value="imperial" /> Imperial
			</fieldset>
			<br />
			<label for="api">Enter your API Key:</label>
			<input type="text" name="api" required />
			<p>
				get your api key from <a href="https://openweathermap.org/">here</a>
			</p>
			<input type="submit" value="Submit" />
		</form>
	</body>
	<% } else { %>
	<body>
		<main>
			<h1>Weather Conch</h1>
			<div class="weather-container">
				<h1><%= locals.city %></h1>
				<h3>
					Temperature <br /><%= locals.temp %> <%if(locals.metricUnit ===
					"metric"){%> 째C<%}else if(locals.metricUnit === "imperial"){%> 째F<%}%>
				</h3>
				<h3>
					Feels Like <br /><%= locals.realTemp %> <%if(locals.metricUnit ===
					"metric"){%> 째C<%}else if(locals.metricUnit === "imperial"){%> 째F<%}%>
				</h3>
				<h2><%= locals.desc%><img src="<%= locals.icon %>" /></h2>
			</div>
			<form action="/reset" method="POST">
				<button type="submit">Reset</button>
			</form>
		</main>
	</body>
	<% } %>
</html>
